/* Custom footer styling */
.page__footer {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1.2;
}

.page__footer a {
  font-size: 0.1rem;
}

.page__footer-follow {
  margin-bottom: 0.5rem;
}
